.container {
	display: flex;
	flex-direction: column;
}

.category {
	margin-bottom: 1rem;
	color: #1f2937;
	font-weight: 600;
	font-size: 1.25rem;
}

.element {
	display: flex;
	align-items: center;
	transition: all 0.2s ease;
	cursor: pointer;
	margin-bottom: 0.75rem;
	border: 1px solid #e5e7eb;
	border-radius: 1rem;
	background: white;
	padding: 1rem;
	font-weight: 600;
	font-size: 0.9rem;
}

.element:hover {
	outline: none;
	border-color: #9333ea;
}
