@import url('../../public/addFonts/styleFonts.css');

* {
	font-family: 'Montserrat Alternates', serif;
	box-sizing: border-box;
}
p {
	margin: 0;
}

h1,
h2,
h3,
h4 {
	margin: 0;
}

body {
	font-family: 'Montserrat Alternates', serif;
	font-weight: bold;
	font-style: normal;
	transition: opacity 0.3s ease;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	background: linear-gradient(-45deg, #f97316, #9333ea);
	min-height: 100vh;
}
button {
}
