.container {
	display: flex;
	gap: 1rem;
	width: 100%;
}

.input {
	flex: 1;
	transition: all 0.2s ease;
	border: 1px solid #e5e7eb;
	border-radius: 0.75rem;
	padding: 0.75rem 1rem;
	font-size: 1rem;
}

.input:focus {
	outline: none;
	border-color: #9333ea;
}

.space {
}

.select {
	height: auto;
}
.select :first-child {
	// border-radius: 0.75rem;
}

.select :first-child:target {
	border-radius: 0.75rem;
}
.select :first-child:active {
	border-radius: 0.75rem;
}
.select :first-child:focus {
	border-radius: 0.75rem;
}

.select :first-child {
	border-radius: 0.75rem;
}

.option {
	cursor: pointer;
	line-height: 2rem;
}

.btn {
	transition: all 0.2sease;
	cursor: pointer;
	border: none;
	border-radius: 0.75rem;
	background: #7c3aed;
	padding: 0.75rem 1.5rem;
	color: white;
}

.btn:hover {
	background: #9333ea;
}
